{% extends "layout.html" %}

{% block body %}
<a href="index.html">
<div class="left aligned">
  <button id="home-button" class="ui labeled icon button">
    <i class="left arrow icon"></i>
    Back
  </button>
</div>
</a>
<div class="ui text container">
<div class='ui center aligned grid'>
<div class='row'>
<div class='left aligned column'>

<center><h1>Frogger</h1></center>

<hr>

<p><strong>About</strong>: Frogger50 was my first coding project (from my first CS course), and is a spin-off of the arcade game frogger. You are a frog who dodge cars that come barreling down at you. Survive as long as possible to maximize your score.</p>

<center>
  <div class="ui video" data-source="youtube" data-id="ltzfz17oeX4"></div>

<p><em>Above: a short game tutorial.</em></center></p>

<p><strong>Implementation</strong>: I created Frogger50 using the python (2.7) Tkinter GUI library.</p>

<p><center>
<div class="ui medium images">
<img src="static/img/frogger/game.png"></img>
<img src="static/img/frogger/leaderboard.png"></img></div>
</p>

<p><em>Above: in-game and leaderboard screenshots.</em></center></p>

<p><strong>Code</strong>: can be found <a href="https://github.com/coprice/frogger">Here</a>.</p>

<center>
<a href="http://www.facebook.com/collin.price.583">
  <button class="ui facebook button">
    <i class="facebook icon"></i>
    Facebook
  </button>
</a>
<a href="http://www.linkedin.com/in/collin-price-106234123">
  <button class="ui linkedin button">
    <i class="linkedin icon"></i>
    LinkedIn
  </button>
</a>
<a href="https://github.com/coprice">
  <button class="ui github button">
    <i class="github icon"></i>
    GitHub
  </button>
</a>
</center>

</div>
</div>
</div>
</div>
{% endblock %}
